@charset "utf-8";
.my-class {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    text-align: center;
    font-style: italic;
    color: #1400FB;
}
* {
	padding: 0;
	margin: 0;
}
h3 {
	color: darkblue;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"; text-decoration: underline; 
}
#my-id {
	color: darkblue;
	text-decoration: underline
}
p {
	color: black;
	font-family: 'Spartan', sans-serif;
}

div.container2 {
	margin: 20px;
	padding: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
